@model CrossPlatformApp.Models.HomeModel
@{
    ViewBag.Title = "Inventory Management - Super Secret Admin page";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Super Secret Admin Page</h2>

oops, we left an admin page wide open...